<h2>Blackjack!  Welcome <%= session[:player_name] %>.</h2>

<% if @play_again %>
  <p>
    <strong> Play again? </strong>
    <a href = '/take_bet' class = 'btn btn-primary'>Yes</a>
    <a href = '/game_over' class = 'btn'>No</a>
  </p>
<% end %>

<div class="well">
  <h4> Dealer's Cards: </h4>
    <% session[:dealer_cards].each_with_index do |card, i| %>
      <% if session[:turn] != 'dealer' && i == 0%>
        <img class = 'cards' src='/images/cards/cover.jpg' >
      <% else %>
        <%= card_image(card) %>
      <% end %>
    <% end %>

    <% if @show_dealer_hit_button %>
      <p>
        <h5>Dealer has count of <%= calculate_total(session[:dealer_cards]) %>. </h5>
        <form action = '/game/dealer/hit' method='post'>
          <input type='submit' class='btn btn-primary' value = 'See next dealer card.'>
        </form>
      </p>
    <% end %>
</div>

<br/>
<div class="well">
  <h4> Player's Cards: </h4>
    <% session[:player_cards].each do |card| %>
        <%= card_image(card) %>
    <% end %>
</div>

<p> Chip count: $<strong><%= session[:player_chip_count] %></strong>.  Current bet: $<strong><%= session[:player_bet] %></strong></p>

<p>
  <%= session[:player_name] %> has count of <strong><%= calculate_total(session[:player_cards]) %></strong>.
  <% if @show_hit_stay_buttons %>
    <br/>What would you like to do?
  <% end %>
</p>

<% if @show_hit_stay_buttons %>
  <form id="hit_form" action="/game/player/hit" method="post">
    <input type ="submit" class="btn btn-success" value = "H i t"/>
  </form>

  <form id="stay_form" action="/game/player/stay" method="post">
    <input type ="submit" class="btn btn-warning" value = "S t a y"/>
  </form>
<% end %>
